@import 'bourbon';

$color-black: #000;
$color-dark-grey: #515151;
$color-grey: #dbdfe2;
$color-white: #fff;

$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-jumbo: 36px;

$font-family-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bp-tablet: 768px;

$trumpPhoto: 'https://c1.staticflickr.com/9/8105/8567825104_e14db572a1_k.jpg';

body {
  background-color: $color-grey;
  font: $font-size-base $font-family-sans;
  color: $color-dark-grey;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  min-height: 100vh;
  overflow-x: hidden;
  @include display(flex)
  @include flex-direction(column);

  @media screen and (min-width: $bp-tablet) {
    background: $color-dark-grey url($trumpPhoto) center center no-repeat;
    background-size: cover;
  }
}

main {
  @include flex(1);

  @media screen and (min-width: $bp-tablet) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
  }
}

.hero {
  background: $color-dark-grey url($trumpPhoto) center center no-repeat;
  background-size: cover;
  padding: percentage(1365/2048) 0 0;
  position: relative;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    background: none;
    padding: 0;
  }

  h1 {
    background: rgba($color-black, 0.6);
    color: $color-white;
    font-size: 24px;
    margin: 0;
    padding: 15px;
    text-align: center;
    @include position(absolute, null 0 0 0);

    @media screen and (min-width: $bp-tablet) {
      background: none;
      font-size: $font-size-jumbo;
      margin: 20px 0;
      padding: 0;
      position: static;
    }
  }
}

.main-content {
  padding-bottom: 20px;
  padding-top: 20px;

  @media screen and (min-width: $bp-tablet) {
    background: rgba($color-black, 0.6);
    color: $color-white;
  }
}

.form-row {
  @include display(flex);

  .form-group {
    padding-right: .5em;
    @include flex(1);

    .form-control {
      width: 100%;
    }
  }
}

.form-message {
  color: $color-black;
  font-size: $font-size-small;
  margin: 0 0 1em;
  padding: 10px;
}

footer{
  background-color: #000;
  color: $color-white;
  font-size: $font-size-small;
  padding: 15px;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
  }
}
